<div class="page-header text-center"><h1><img width="120" alt="symfony blog bootstrap" class="img-fluid" src="{{ asset('build/images/symfony_black_03.png') }}"/><br/><!--{{ 'title.homepage'|trans|raw }}-->Symfony Bootstrap</h1></div>
