<div class="col-12 col-md-12 p-3 p-md-5">
<h2>
Symfony is a set of reusable PHP components, and a PHP framework for web projects.
</h2>
<p>
The standard foundation on which the best PHP applications are built. Choose any of the 50 stand-alone components available for your own applications. Speed up the creation and maintenance of your PHP web applications. End repetitive coding tasks and enjoy the power of controlling your code.
</p>
<a class="btn btn-dark" style="background-color: black;" href="">Download Now</a>
</div>