<div class="col-12 col-md-12 p-3 p-md-5 text-center">
<div class="p-3 bg-light shadow rounded">
<h3>Get Started Now</h3>
<p>
Select for start with demo front end or backend.
</p>
<a href="{{ path('blog_index') }}" class="btn btn-dark rounde1d" style="background-color: black;">
Blogs
</a>
<a href="{{ path('admin_index') }}" class="btn btn-dark rounded" style="background-color: black;">
Admin
</a>
</div>
</div>